/* typography rules */
body {
	font-family: monospace;
}

/* rules for button icons */
.button-icon {
	color: #808080;
}

.button-icon:hover,
.button-icon:focus {
	text-decoration: none;
	cursor: pointer;
	color: #303030;
}
