<div class="row justify-content-center">
	<div class="col-sm-6">
		<div class="card mb-4">
			<h6 class="card-header">Query Dataset</h6>

			<div class="card-body" ng-hide="pipelines">
				<div class="text-center">
					<span class="spinner-border spinner-border-sm"></span>
					<span>Querying pipelines...</span>
				</div>
			</div>

			<form class="card-body" name="form-query" ng-show="pipelines">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Pipeline</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="pipeline" ng-options="p for p in pipelines"></select>
					</div>
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-outline-dark" ng-disabled="querying" ng-click="!querying && query_dataset(pipeline)">
						<span ng-show="querying" class="spinner-border spinner-border-sm"></span>
						<span ng-show="!querying">Query</span>
					</button>
				</div>
			</form>
		</div>

		<div class="card mb-4" ng-show="process_names">
			<h6 class="card-header">Train Model</h6>

			<form class="card-body" name="form-train">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Process</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="train.process_name" ng-options="p for p in process_names"></select>
					</div>
				</div>

				<div class="form-group row" ng-show="train.process_name">
					<label class="col-sm-3 col-form-label">Inputs</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.inputs" ng-options="p for p in process_columns[train.process_name]" multiple size="10"></select>
					</div>
				</div>

				<div class="form-group row" ng-show="train.process_name">
					<label class="col-sm-3 col-form-label">Output</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.output" ng-options="p for p in process_columns[train.process_name]"></select>
					</div>
				</div>

				<div class="form-group row" ng-show="train.process_name">
					<label class="col-sm-3 col-form-label">Selectors</label>
					<div class="col-sm-9">
						<input class="form-control" ng-model="args.selectors"/>
					</div>
				</div>

				<div class="form-group row" ng-show="train.process_name">
					<label class="col-sm-3 col-form-label">Scaler</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.scaler" ng-options="v for v in ['maxabs', 'minmax', 'standard']">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-show="train.process_name">
					<label class="col-sm-3 col-form-label">Hidden Layers</label>
					<div class="col-sm-9">
						<input class="form-control" ng-model="args.hidden_layer_sizes" ng-pattern="/[\d\s]*/"/>
					</div>
				</div>

				<div class="form-group row" ng-show="train.process_name">
					<label class="col-sm-3 col-form-label">Epochs</label>
					<div class="col-sm-9">
						<input class="form-control" type="number" ng-model="args.epochs"/>
					</div>
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-outline-dark" ng-disabled="training" ng-click="!training && train(pipeline, train.process_name, args)">
						<span ng-show="training" class="spinner-border spinner-border-sm"></span>
						<span ng-show="!training">Train</span>
					</button>
				</div>
			</form>
		</div>

		<div class="card mb-4" ng-show="train.results">
			<h6 class="card-header">Training Results</h6>

			<div class="card-body">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">MAPE</label>
					<div class="col-sm-9">
						<p class="form-control-plaintext">{{train.results.mape | number:3}} %</p>
					</div>
				</div>
			</div>

			<div class="card-body text-center">
				<img ng-src="data:image/png;base64,{{train.results.scatterplot}}"/>
			</div>
		</div>

		<div class="card mb-4" ng-show="process_names">
			<h6 class="card-header">Predict</h6>

			<form class="card-body" name="form-get-config">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Process</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="predict.process_name" ng-options="p for p in process_names"></select>
					</div>
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-outline-dark" ng-click="get_config(pipeline, predict.process_name)">
						<span>Get Config</span>
					</button>
				</div>
			</form>

			<form class="card-body" name="form-predict">
				<div class="form-group row" ng-repeat="input in predict.inputs">
					<label class="col-sm-3 col-form-label">{{input.name}}</label>
					<div class="col-sm-9" ng-show="input.categories">
						<select class="form-control" ng-model="input.value" ng-options="v for v in input.categories"></select>
					</div>
					<div class="col-sm-9" ng-hide="input.categories">
						<input class="form-control" ng-model="input.value"/>
					</div>
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-outline-dark" ng-disabled="predicting" ng-click="!predicting && predict(pipeline, predict.process_name, predict.inputs)">
						<span ng-show="predicting" class="spinner-border spinner-border-sm"></span>
						<span ng-show="!predicting">Predict</span>
					</button>
				</div>
			</form>
		</div>

		<div class="card mb-4" ng-show="predict.results">
			<h6 class="card-header">Prediction Results</h6>

			<div class="card-body">
				<pre class="pre-scrollable border rounded p-2">{{predict.results | json}}</pre>
			</div>
		</div>
	</div>
</div>
