<div class="row">
	<div class="col">
		<div class="card mb-4">
			<h6 class="card-header">Tasks</h6>

			<div class="card-body">
				<div class="button-group">
					<button class="btn btn-light" ng-disabled="page == 0" ng-click="page > 0 && query(page - 1)">newer</button>
					<button class="btn btn-light" ng-click="query(page + 1)">older</button>
				</div>
			</div>

			<table class="table mb-0">
				<th scope="col">ID</th>
				<th scope="col">Run Name</th>
				<th scope="col">Time</th>
				<th scope="col">Event</th>
				<th scope="col"></th>

				<tr ng-repeat="t in tasks">
					<td>
						<a ng-href="#!/tasks/{{t._id}}">{{t._id.slice(0, 8)}}</a>
					</td>
					<td>{{t.runName}}</td>
					<td>{{t.utcTime | date:'short'}}</td>
					<td>{{t.event}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
