<div class="row justify-content-center">
	<div class="col-sm-6">
		<div class="card mb-4">
			<h6 class="card-header">Query Dataset</h6>

			<div class="card-body" ng-hide="pipelines">
				<div class="text-center">
					<span class="spinner-border spinner-border-sm"></span>
					<span>Querying pipelines...</span>
				</div>
			</div>

			<form class="card-body" name="form-query" ng-show="pipelines">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Pipeline</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="pipeline" ng-options="p for p in pipelines"></select>
					</div>
				</div>

				<div class="text-center">
					<button type="button" class="btn btn-outline-dark" ng-disabled="querying" ng-click="!querying && query_dataset(pipeline)">
						<span ng-show="querying" class="spinner-border spinner-border-sm"></span>
						<span ng-show="!querying">Query</span>
					</button>
				</div>
			</form>
		</div>

		<div class="card mb-4" ng-show="process_names">
			<h6 class="card-header">Visualize</h6>

			<form class="card-body" name="form-visualize">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Process</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="process" ng-options="p for p in process_names" ng-change="update_columns(process_columns, process, args.merge_process)"></select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Join Process</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.merge_process" ng-options="p for p in process_names" ng-change="update_columns(process_columns, process, args.merge_process)">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-show="args.merge_process">
					<label class="col-sm-3 col-form-label">Join On</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.merge_key" ng-options="p for p in merge_columns"></select>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Plot Type</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.plot_type">
							<option></option>
							<option value="hist">Histogram</option>
							<option value="count">Count Plot</option>
							<option value="scatter">Scatter Plot</option>
							<option value="ct">Contingency Table</option>
							<option value="bar">Bar Plot</option>
							<option value="point">Point Plot</option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">X Axis</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.xaxis" ng-options="p for p in columns" required></select>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Y Axis</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.yaxis" ng-options="p for p in columns">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Row Axis</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.row" ng-options="p for p in columns">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Col Axis</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.col" ng-options="p for p in columns">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Hue Axis</label>
					<div class="col-sm-9">
						<select class="form-control" ng-model="args.hue" ng-options="p for p in columns">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Selectors</label>
					<div class="col-sm-9">
						<input class="form-control" ng-model="args.selectors"/>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Height</label>
					<div class="col-sm-9">
						<input class="form-control" type="number" ng-model="args.height"/>
					</div>
				</div>

				<div class="form-group row" ng-show="process">
					<label class="col-sm-3 col-form-label">Aspect Ratio</label>
					<div class="col-sm-9">
						<input class="form-control" type="number" ng-model="args.aspect"/>
					</div>
				</div>

				<div class="text-center">
				<button type="button" class="btn btn-outline-dark" ng-disabled="visualizing" ng-click="!visualizing && visualize(pipeline, process, args)">
						<span ng-show="visualizing" class="spinner-border spinner-border-sm"></span>
						<span ng-show="!visualizing">Visualize</span>
					</button>
				</div>
			</form>

			<div class="card-body text-center" ng-show="visualize_success">
				<img ng-src="data:image/png;base64,{{image_data}}"/>
			</div>
		</div>
	</div>
</div>
